
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    padding: 20px;
}




#buttonbox {
    display: flex;
    justify-content: center;
}


.formsection {
    background-color:#0E3530; 
    padding: 30px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%; 
    max-width: 400px;

    display: flex;
    justify-content: center;
}


h1 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #333;
    font-family:  var(--title-font);
    
}


label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin: 10px 0 5px;
    font-size: 20px;
    color: white;
    width: 80%;
}


input[type="email"],
input[type="text"],
input[type="password"] {
    font-size: 20px;
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


input[type="email"]:hover,
input[type="password"]:hover {
    border-color: #808080;
}


input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #555;
    box-shadow: var(--cta) inset 0 -4px;
    outline: none;
}


#buttonbox {
    text-align: center;
    margin-top: 10px;
    width: 90%;
    align-items: center;
}

button {
    background-color:var( --cta); 
    color: rgb(255, 254, 254);
    border: none;
    padding: 12px 15px;
    font-size:20px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}


button:hover {
    background-color:var(--cta-hover);
    transform: translateY(-2px);
}

button:active {
    background-color: #505050;
    transform: translateY(1px);
}

/* Responsive */
@media (max-width: 480px) {
    .formsection {
        width: 95%;
        padding: 20px;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-position: center;
        background-size: contain;
    }
    
    .container {
        width: 90%; 
    }
}