.modifier-commentaire{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-body);
}

.modifier-commentaire h1{
    font-family: var(--title-font);
    color: var(--font-color);
    font-size: 2rem;
}

.modifier-commentaire select{
    width: 420px;
    height: 50px;
    border: none;
    border-radius: 15px;
}

.modifier-commentaire input{
    width: 400px;
    height: 120px;
    border: none;
    border-radius: 15px;
    padding: 10px;
}

.modifier-commentaire form{
    border-radius: 15px;
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--black-color);
    height: 300px;
    width: 500px;
    padding: 15px;
}

.modifier-commentaire button{
    width: 420px;
    height: 40px;
    border: none;
    border-radius: 15px;
    background-color: var(--cta);
    color: white;
    font-family: var(--main-font);
    transition: 0.3s ease;
}

.modifier-commentaire button:hover{
    background-color: var(--cta-hover);
}

@media only screen and (max-width: 768px) {

    .modifier-commentaire{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modifier-commentaire form{
        width: 80%;
    }

    .modifier-commentaire input{
        width: 90%;
    }

    .modifier-commentaire button{
        width: 95%;
    }

    .modifier-commentaire select{
        width: 95%;
    }

    .modifier-commentaire h1{
        font-size: 1.5rem;
    }
    
}