
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    padding: 20px;
}

.container {
    width: 90%;
    background-color: #0E3530;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 80%;
}

h1 {
    font-family:  var(--title-font);
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    width: 75%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 30px;
    outline: none;
    transition: 0.2s;
}

input:focus {
    border-color: #833ab4;
}


#buttonbox {
    text-align: center;
    margin-top: 10px;
    width: 90%;
    align-items: center;
}

button {
    padding: 10px 12px;
    font-size: 16px; 
    width: 80%; 
    border: none;
    max-width: 250px;
    background-color:var( --cta); 
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

input:focus {
    box-shadow: var(--cta) inset 0 -4px;
}

button:hover {
    background-color:var(--cta-hover);
    transform: translateY(-2px);
    
}

button:active {
    background-color: #505050;
    transform: translateY(1px);
}
p {
    font-size: 14px;
    color: red;
}

.success {
    color: green;
}



@media screen and (max-width: 768px) {
    body {
        background-position: center;
        background-size: contain;
    }
    
    .container {
        width: 90%; 
    }
    form{
      width: 90%;
    }
}


