/* font-weight entre 400 et 700 */
.dancing-script {
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

:root {
    --main-font: 'Roboto', sans-serif;
    --title-font: 'Dancing Script', serif;
    
    --black-color: #0E3530;
    --title-color: #EEE82C;
    --font-color: #0E3530;
    --cta: #0FA3B1;
    --cta-hover: #0fa3b1ab;
    --main-bg-color: #0E3530;
    --bg-body: #F9F7F3;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-body);
    height: 100vh;
}